# *args, **kwargs

In [1]:
# calculate area of rectangle

In [3]:
def area_of_rect(l,b):
    aor=l*b 
    print("area of rectangle=",aor)

In [4]:
area_of_rect(4,5)

area of rectangle= 20

In [5]:
area_of_rect(10,30)

area of rectangle= 300

# *args

In [6]:
# sum of all values present in parameter

In [7]:
def cal_sum(*args):
    sum=0
    for i in args:
        sum=sum+i # sum =0+2=2+3=5+4=9
    return f"sum of all values={sum}"

In [8]:
cal_sum(2,3,4)

'sum of all values=9'

In [9]:
cal_sum(4,5,2,5,6,23,5,7,9)

'sum of all values=66'

In [10]:
lst=[4,5,6,7,10,39,49]

In [11]:
# list unpacking
cal_sum(*lst)

'sum of all values=120'

In [12]:
# **kwargs

In [13]:
def dispaly_data(**kwargs): #("key","values")
    print(f"values: {kwargs}")

In [14]:
dispaly_data(name="prashant",age=21,salary=50000)

values: {'name': 'prashant', 'age': 21, 'salary': 50000}

In [15]:
menu={
    "pizza": 250,
    "maggie":50,
    "noodles": 199,
    "burger":70,
    "coffee":50,
    "tea":30,
}

In [16]:
menu.keys()

dict_keys(['pizza', 'maggie', 'noodles', 'burger', 'coffee', 'tea'])

In [18]:
menu.values()

dict_values([250, 50, 199, 70, 50, 30])

In [19]:
menu.get("pizza")

250

In [20]:
menu.get("burger")

70

# perform billing for a restaurent

In [21]:
menu

{'pizza': 250,
 'maggie': 50,
 'noodles': 199,
 'burger': 70,
 'coffee': 50,
 'tea': 30}

In [23]:
def restaurent_billing(**kwargs):
    bill = 0
    for food,qty in kwargs.items():
        amt=menu.get(food)*qty
        bill=bill+amt
        print(f"Food;{food},Quantity :{qty},amount : {amt}")
    return f"Total bill = {bill}"

In [25]:
restaurent_billing(burger=2,coffee=3,tea=3)

Food;burger,Quantity :2,amount : 140
Food;coffee,Quantity :3,amount : 150
Food;tea,Quantity :3,amount : 90

'Total bill = 380'

# generator function

In [26]:
# 0,1,1,2,3,4,8,13,21

In [27]:
# while
# 1) initialisation
# 2) condition checking
# 3) increment/decrement
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [28]:
i=1 
sum=0
while i<=10:
    sum=sum+i
    i=i+1

In [30]:
sum
# print table of anu number using while loop

55

In [31]:
i=1
n=int(input("Enter a number"))
while i<=10:
    print(n*i)
    i=i+1

5
10
15
20
25
30
35
40
45
50

In [32]:
# 0,,1,1,2,3,5,8,13,21

In [33]:
i=1
a=0
b=1
c=0
while i<=8:
    print(c)
    a=b
    b=c
    c=a+b
    i=i+1
    # a=1
# b=1
# c=2
# 0,1,1,

0
1
1
2
3
5
8
13

In [34]:
# generator 
# 1)yield
# 2)next

In [35]:
def fib_number():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
# a=0,b=1
# a,b=1,2
# 0,1,1

In [36]:
result=fib_number()

In [37]:
for i in range(5):
    print(next(result))

0
1
1
2
3