# calculate interest 
# interest=(p*r*t)/100

In [8]:
# defining a function

def cal_interest(p,r,t): #arguments
    interest = (p*r*t)/100
    print('Interest=',interest)

In [9]:
# calling a function
cal_interest(100000,5,5) # parameters

Interest= 25000.0

In [10]:
# create a functiion for printing table of any number

def cal_table(n):
    for i in range(1,11): 
        print(n*i)

In [11]:
cal_table(8)

8
16
24
32
40
48
56
64
72
80

In [ ]:
# args = This will act like a tuple inside a 
# by default the type of argument is tuple
# used for accepting multiple parameter/values in one argument

In [21]:
def information(*args):
    print(f"values:{args}")
    print(f"type:{type(args)}")
    for i in args:
        print(i)

In [22]:
information(1,'dipali','student',56478)

values:(1, 'dipali', 'student', 56478)
type:<class 'tuple'>
1
dipali
student
56478

In [23]:
# return multiplication of a number
# 2,4,6,3=144

In [25]:
def return_multiplication(*args):
    m=1
    for i in args:
        m=m*i
    return m

In [26]:
return_multiplication(2,4,5,6,3,2,5)

7200

In [27]:
lst=[3,4,5,6,7]

In [31]:
return_multiplication(*lst)
# you need to unpack first by giving *

2520

In [32]:
return_multiplication(2,4,3,1)

24

In [35]:
cart=[
    ('laptop',35000,2),
    ('keyboard',6000,2),
    ("mouse",200,3),
    ('mouse pad',100,5)
]

In [41]:
def print_info(*args):
    total_price=0
    # print information
    for name,price,qty in args:
        print(f"name:{name},price:{price},quantity:{qty}")
        print("-----------------------------------------------")
        total_price=total_price+price
    return total_price

In [42]:
print_info(*cart)

name:laptop,price:35000,quantity:2
-----------------------------------------------
name:keyboard,price:6000,quantity:2
-----------------------------------------------
name:mouse,price:200,quantity:3
-----------------------------------------------
name:mouse pad,price:100,quantity:5
-----------------------------------------------

41300

In [43]:
cart=[
    ("smith",21,30000),
    ("alice",22,45000),
    ("gayatri",24,50000)
]

In [44]:
def emp_info(*args):
    sal=0
    for name,age,salary in args:
        print(f"Name:{name},age:{age},salary:{salary}")
        sal=sal+salary
    return(f"final salary = {sal}")

In [45]:
emp_info(*cart)

Name:smith,age:21,salary:30000
Name:alice,age:22,salary:45000
Name:gayatri,age:24,salary:50000

'final salary = 125000'

In [46]:
# *args=act as a tuple
# **args = act as a dictionary

In [54]:
def display(**kwargs): #kw for key and value pair me value stored
    print(f"values:{kwargs}")
    for key,value in kwargs.items():
        print(f"key={key}\nvalue={value}")

In [55]:
display(name="dipali",job_role="student")

values:{'name': 'dipali', 'job_role': 'student'}
key=name
value=dipali
key=job_role
value=student

In [56]:
d={
    "empid":101,
    "mepname":"soham",
    "age":24,
    "email":"abc@gmail.com"

}

In [59]:
display(**d) # ** used to unpack key arguments
            # * use for unpack arguments

values:{'empid': 101, 'mepname': 'soham', 'age': 24, 'email': 'abc@gmail.com'}
key=empid
value=101
key=mepname
value=soham
key=age
value=24
key=email
value=abc@gmail.com

In [69]:
# lambda function = used for small calculations and this will return only one answer

In [61]:
add=lambda a,b,c:a+b+c

In [62]:
add(5,4,6)

15

In [63]:
add(90,80,60)

230

In [64]:
sq=lambda a:a*a

In [65]:
sq(2)

4

In [67]:
cube=lambda a: a*a*a

In [68]:
cube(4)

64

In [70]:
add = lambda a,b:a+b

In [71]:
add(4,5)

9