# Inheritance
- Accessing property and functions from parent class to child class or from one class to another class is claled as inheritance.
- there is no multiple inheritance in python like java

# single inheritance

In [2]:
# Parent class
class Customer:
    def __init__(self,name,age,prod_id):
        self.name=name
        self.age=age
        self.prod_id=prod_id
    def display(self):
        print(f'Name : {self.name}\nAge : {self.age}\nProd_id : {self.prod_id}')

In [6]:
# Child class
class product(Customer):
    def __init__(self,name,age,prod_id,product_name,price):
        super().__init__(name,age,prod_id) #super is used to access a parent class properties
        self.product_name=product_name
        self.price=price
    def show(self):
        super().display()
        print(f"product_name : {self.product_name}\nPrice : {self.price}")

# create an object == always create an object of child class

In [4]:
p1=product('smith',24,'02587','keyboard','800rs')

In [7]:
p1.show()

Name : smith
Age : 24
Prod_id : 02587
product_name : keyboard
Price : 800rs

# multilevel inheritance

In [8]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def info(self):
        print(f'Name : {self.name}\nAge : {self.age} ')

In [ ]:
class Teacher(Person):
    def __init__(self,name,age,subject):
        super().__init__(name,age)
        self.subject=subject
    def information(self):
        super().info()
        print(f"Subject : {self.subject}")

In [26]:
class departmentHead(Teacher):
    def __init__(self,name,age,subject,department):
        super().__init__(name,age,subject)
        self.department=department
    def display(self):
        super.info()
        print(f"\nDepartment : {self.department}")

In [31]:
t1=departmentHead('vishal','28','Maths','Mechanical')

TypeError: Teacher.__init__() takes 3 positional arguments but 4 were given

In [22]:
t1.dispaly()

NameError: name 't1' is not defined

# Hierarchical inheritance

In [23]:
class Parent:
    def __init__(self,name,plot):
        self.name=name
        self.plot=plot

In [29]:
class child1(Parent):
    def __init__(self,name,plot,childname):
        super().__init__(name,plot)
        self.childname=childname
    def display(self):
        print(f"childname={self.childname}{self.name}\nPlot={self.plot}")

In [30]:
c1=child1("mahesh mishra","15*20","vishal")

In [33]:
c1.display()

childname=vishalmahesh mishra
Plot=15*20

In [51]:
class child2(Parent):
    def __init__(self,name,plot,childname):
        super().__init__(name,plot)
        self.childname=childname
    def display(self):
        print(f"childname={self.childname}   {self.name}\nplot= {self.plot}")

In [52]:
c2=child2('dipali','10*10','Anshul')

In [53]:
c2.display()

childname=Anshul   dipali
plot= 10*10